extends layout

block content
  h1 Game Lobby

  p lobby for waiting to join + chat room
  p User: #{user.username} Id: #{user.id}

  
  div(id='chat-area')
    h2 Chat Room
    div(id='chat-window')
      div(id='output')
      div(id='feedback')
    
    input(id='room_id', type='hidden', value='0')
    input(id='message', type='text', placeholder='Message')
    button.btn.btn-primary(id='send') Send

    script. 
      username = '#{user.username}'
      user_id = '#{user.id}'
      const socket = io();
    script(src='/scripts/chat.js')
      