extends layout

block content
  h1 Game Lobby

  p lobby for waiting to join + chat room
  p User: #{user.username} Id: #{user.id}

  #chat-area
    .row
      .messages.col-lg-6.well.well-sm
    .row
      .col-lg-6
        .input-group
          input.form-control(type='text', placeholder='Message...')
          span.input-group-btn
            button.btn.btn-default(type='button') Send

  form.form-inline#initial-form
    .form-group
      label(for='who-are-you') Who are you?
      input#who-are-you.form-control(type='text', placeholder='Anonymous')
      button.btn.btn-primary(type='submit') Start Chatting