doctype html

head
  title= 'Register'
  include ../partials/head.pug


body
  h1 Sign up for Spades Server

  div
    h1
    form(action='/users/register', method='post')

      include ../error.pug

      div.form-group
        input#name.form-control(type='text', placeholder='first and last' name='name')
      div.form-group
        input#favoriteBook.form-control(type='text', placeholder='username' name='username')
      div.form-group
        input#email.form-control(type='email', placeholder='name@email.com' name='email')
      div.form-group
        input#pw.form-control(type='password' placeholder='password' name='password')
      div.form-group
        input#pw2.form-control(type='password' placeholder='confirm password' name='confirmPassword')
      button.btn.btn-primary(type='submit') Sign up
