extends layout

block content
  title Lobby
  body(class='background')
  div(class='row right-align')
    a( href='/lobby/logout') Log Out

  div(class='card')
    div(class='card-panel teal lighten-3')
      h3(class="") Lobby
      h6 Welcome Player: #{user.username}

  div(class='row')
    div(class='col s6') 
      div(class='card-panel grey lighten-4') 
        p(class='lobby-text') Create new game:
        form(action='/lobby/creategame', method='POST')
          div(class='font-color')
            input(name='gameName', type='text', placeholder='New Game Name')
            br
            br
            div(class='lobby-button')
              button(class='btn-small waves-effect waves-dark' type='submit') SUBMIT
      div(class='card-panel grey lighten-4') 
        p(class='lobby-text') Available Games:
      
        ul(class='lobby-text')#games 
    div(class='col s6') 
      div(class='card-panel grey lighten-4') 
        h3(class='lobby-text') Chat:
        .chat-messages.has-text-left
          ul#messages
        form(id='chat-form')
          .field.has-addons
            input(id='room_id', type='hidden', value=0)
            input(id='name', type='hidden', value=user.username)
            p.control.is-expanded
              input(id='message', type='text', class='input' placeholder='Message')
            p.control
              input(class='btn-small waves-effect waves-dark', type='submit', value='Send')
      
      
      



  script(src='/scripts/chat.js')
  script(src='/scripts/lobby.js')

      
