<<<<<<< HEAD
extends layout

block content

=======
doctype html

head
  title='Login'
  include ./partials/head.pug
  
body
>>>>>>> 82ea49de4803b3f7c4e47b905c31fd3b66d9dbbd
  h1 Welcome to Spades Server

  div
    h1 Login
    
    form(action='/login', method='post')
<<<<<<< HEAD
=======

>>>>>>> 82ea49de4803b3f7c4e47b905c31fd3b66d9dbbd
      div 
        label Username:
        input(type='Username', name='username')
      div
        label Password:
        input(type='Password', name='password')
      div 
        button(type='submit') Submit
<<<<<<< HEAD
    
    div
      a(href = "/register") Register for an account here! 

=======
  div
    a(href = "/register") Register for an account here!
  
>>>>>>> 82ea49de4803b3f7c4e47b905c31fd3b66d9dbbd
