doctype html

head
  title= 'Register'
  include ./partials/head.pug


body
  h1 Sign up for Spades Server

  div
    h1
    form(action='/users/register', method='post')

      include ./error.pug

      div
        label Username:
        input(type='Username', name='username_value')
      div
        label Password:
        input(type='Password', name='password_value')
      div
        label Confirm Password:
        input(type='Password', name='confirmPassword')
      div
        button(type='submit') Register
