extends layout

block content

  body(class= 'general-body')

    h1(class='banner') Sign up for SPADES below:

    div(class='reg-box')
      h1(class= 'reg-text') Registration
      form(action='/register', method='post') 

        div.form-group(class='reg-text1')
          input#name.form-control(type='text', placeholder='first name' name='first_name')
        div.form-group(class='reg-text1')
          input#name.form-control(type='text', placeholder='last name' name='last_name')
        div.form-group(class='reg-text1')
          input#favoriteBook.form-control( type='text', placeholder='username' name='username')
        div.form-group(class='reg-text1')
          input#email.form-control(type='email', placeholder='name@email.com' name='email')
        div.form-group(class='reg-text1')
          input#pw.form-control( type='password' placeholder='password' name='password')
        div.form-group(class='reg-text1')
          input#pw2.form-control(type='password' placeholder='confirm password' name='confirm')
        button.btn.btn-primary(class='button' type='submit') Sign up
