
.game-card {
  display: inline-block;

  height: 63px;
  width: 42px;

  background-image: url('/images/cards.png')
}

/* spades start at 142 142-126, 8 px between rows */
.card-1-1 {
  background-position: 0px 136px;
}
.card-1-2 {
  background-position: -52px 136px;
}
.card-1-3 {
  background-position: -104px 136px;
}
.card-1-4 {
  background-position: -156px 136px;
}
.card-1-5 {
  background-position: -208px 136px;
}
.card-1-6 {
  background-position: -260px 136px;
}
.card-1-7 {
  background-position: -312px 136px;
}
.card-1-8 {
  background-position: -364px 136px;
}
.card-1-9 {
  background-position: -416px 136px;
}
.card-1-10 {
  background-position: -468px 136px;
}
.card-1-11 {
  background-position: -520px 136px;
}
.card-1-12 {
  background-position: -572px 136px;
}
.card-1-13 {
  background-position: -624px 136px;
}

.card-2-1 {
  background-position: 0px 0px;
}
.card-2-2 {
  background-position: -52px 0px;
}
.card-2-3 {
  background-position: -104px 0px;
}
.card-2-4 {
  background-position: -156px 0px;
}
.card-2-5 {
  background-position: -208px 0px;
}
.card-2-6 {
  background-position: -260px 0px;
}
.card-2-7 {
  background-position: -312px 0px;
}
.card-2-8 {
  background-position: -364px 0px;
}
.card-2-9 {
  background-position: -416px 0px;
}
.card-2-10 {
  background-position: -468px 0px;
}
.card-2-11 {
  background-position: -520px 0px;
}
.card-2-12 {
  background-position: -572px 0px;
}
.card-2-13 {
  background-position: -624px 0px;
}

.card-3-1 {
  background-position: 0px -218px;
}
.card-3-2 {
  background-position: -52px -218px;
}
.card-3-3 {
  background-position: -104px -218px;
}
.card-3-4 {
  background-position: -156px -218px;
}
.card-3-5 {
  background-position: -208px -218px;
}
.card-3-6 {
  background-position: -260px -218px;
}
.card-3-7 {
  background-position: -312px -218px;
}
.card-3-8 {
  background-position: -364px -218px;
}
.card-3-9 {
  background-position: -416px -218px;
}
.card-3-10 {
  background-position: -468px -218px;
}
.card-3-11 {
  background-position: -520px -218px;
}
.card-3-12 {
  background-position: -572px -218px;
}
.card-3-13 {
  background-position: -624px -218px;
}


.card-4-1 {
  background-position: 0px 208px;
}
.card-4-2 {
  background-position: -52px 208px;
}
.card-4-3 {
  background-position: -104px 208px;
}
.card-4-4 {
  background-position: -156px 208px;
}
.card-4-5 {
  background-position: -208px 208px;
}
.card-4-6 {
  background-position: -260px 208px;
}
.card-4-7 {
  background-position: -312px 208px;
}
.card-4-8 {
  background-position: -364px 208px;
}
.card-4-9 {
  background-position: -416px 208px;
}
.card-4-10 {
  background-position: -468px 208px;
}
.card-4-11 {
  background-position: -520px 208px;
}
.card-4-12 {
  background-position: -572px 208px;
}
.card-4-13 {
  background-position: -624px 208px;
}

