
/*general css */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  padding-top: 50px;
}

#chat-messages li {
	padding: 0.75rem;
}

.button {
  background-color: #F3CB0A;
  border: 1px solid black;
  border-radius: 10px;
  color: #662A82;
  margin-top: 20px;
  text-align: center;
  font: 12px;
  text-decoration: none;
  display: table-column-group;
  font-size: 14px;
  width: 150px;
  height: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0, 2);
  resize: none;
  position:absolute;
  margin-left: 45px;
}

.title {
  border: 1px solid black;
  position: static;
  margin-right: 35%;
  margin-left: 35%;
}

.general-body {
  object-fit: none;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gray;
  border: 2px solid black;
}

.banner {
  border: 2px solid black;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  width: 100%;
  height: 60px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: #662A82;
  color: #F3CB0A;
  text-align: center;
}


/*LOGIN PAGE*/
.login-box {
  position: static;
  width: 350px;
  height: 200px;
  display: inline-block;
  background-color: purple;
  margin-top: 10%;
  margin-right: 50%;
  margin-left: 50%;
}

.title {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  border: none;
  color: yellow;
  text-align: center;

}

.subtitle {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  border: none;
  color: yellow;
  text-align: left;
  padding: 10px;
}

.login-button {
  background-color: #F3CB0A;
  border: 1px solid black;
  border-radius: 10px;
  color: #662A82;
  margin-top: 20px;
  text-align: center;
  font: 12px;
  text-decoration: none;
  display: table-column-group;
  font-size: 14px;
  width: 150px;
  height: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0, 2);
  resize: none;
  margin-left: 80px;
}

.login-box {
  border: 4px solid black;
  width: 300px;
  min-width: 200px;
  margin-right: 60%;
  margin-left: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 200px;
  min-height: 485px;
  padding: 20px;
  font : 18px;
  resize: none;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: #662A82;
  color: rgb(0, 0, 0);
}

/*REGISTRATION PAGE*/

.reg-box {
  border: 4px solid black;
  width: 300px;
  min-width: 200px;
  margin-right: 60%;
  margin-left: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 70vh;
  min-height: 485px;
  padding: 20px;
  font : 18px;
  resize: none;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: #662A82;
  color: rgb(0, 0, 0);
}

.reg-text {
  font-size: 12px;
  color: #F3CB0A;
  text-align: center;
}

.reg-text1 {
  font-size: 12px;
  color: black;
  text-align: center;
}


/*LOBBY*/

.chat-box {
  border: 2px solid black;
  width: 30%;
  min-width: 200px;
  margin-right: 0%;
  margin-top: 0%;
  margin-bottom: 75%;
  height: 70vh;
  min-height: 485px;
  padding: 20px;
  display: inline-block;
  float: right;

  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  background-color: #662A82;
  color: rgb(0, 0, 0);
}


.lobby-box {
  border: 2px solid black;
  width: 55%;
  min-width: 415px;
  height: 70vh;
  min-height: 485px;
  display: inline-block;
  padding: 20px;
  overflow: auto;
  float: left;

  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  background-color: #662A82;
  color: rgb(0, 0, 0);
}

.lobbylist-box {
  border: 2px solid black;
  width: 55%;
  min-width: 415px;
  height: 70vh;
  min-height: 485px;
  display: inline-block;
  padding: 20px;
  overflow: auto;
  float: left;

  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  background-color:red;
  color: rgb(0, 0, 0);
}


