body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  padding-top: 50px;
}

#chat-messages li {
	padding: 0.75rem;
}

.login-button {
margin-left: 20px;
}



.reg-link {
  margin-top: 40px;
  margin-left: 0px;
}


.background{
  background: url(images/spades_01.jpg);
}

.game-background{
  background: url(images/green.jpg);
}

.logo{
  background: url(images/spades-logo.png);
  height: 100px;
  width: 40%;
  min-width: 40%;
  min-height: 100px;
  padding-top: 45%;
  padding-right: 70%;
  padding-bottom: 30%;
  resize: none;
  display: inline-block;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

.font-color{
  color: black;
}

.lobby-text{
  font: 22px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.card-back{
  background: url(images/card-back.jpg);
  padding-right: 5%;
  padding-top: 50%;
  resize: inherit;
}
