doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    // Roboto
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    // Material Icons
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  body
    block content
